---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gitsubmodule"
    directory: "/"  # should point to the directory containing the .gitmodules file
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: /scripts/
    schedule:
      interval: "weekly"
