# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  # verify the pre-commit config
  - repo: meta
    hooks:
      - id: check-hooks-apply

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        name: Black (Python code formatter)

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        # Optionally add plugins
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Common misspellings
        args: ['--exclude-file', 'content/hidden/posts/pathologic-walkthrough/index.md']

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.2
    hooks:
      - id: markdown-link-check
        args: ['--config', '.markdown-link-check.json', '-v']

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: enumerate-posts
        name: Verify posts/drafts
        entry: python -m scripts.post-enumerating content/posts
        language: python
        additional_dependencies:
          - pyyaml==6.0.1
        pass_filenames: false
        files: content/posts/.*

ci:
  autofix_prs: false
  skip:
    - markdown-link-check
