figure.float-left {
    float: left;
    margin: 0 15px 15px 0; /* space around figure */
    text-align: center;    /* center caption text */
}

figure.float-left figcaption {
    max-width: 200px
}

figure.float-right {
    float: right;
    margin: 0 15px 15px 0; /* space around figure */
    text-align: center;    /* center caption text */
}

figure.float-right figcaption {
    max-width: 200px
}
