.fig-wrap {
    text-align: center;
}

.fig-wrap img {
    margin-bottom: 0
}

.fig-wrap figcaption {
    margin-bottom: 8px;
    max-width: 200px
}

.fig-wrap figcaption p {
    margin-bottom: 0
}

.float-left {
    float: left;
    margin-right: 15px;
}

.float-right {
    float: right;
    margin-left: 15px;
}
