{{ $seed := "random_points_in_circle" }}
{{ $svgName := add "a" (delimit (shuffle (split (md5 $seed) "" )) "") }}
{{ $captionName := add "c" (delimit (shuffle (split (md5 $seed) "" )) "") }}
{{ $width := 620 }}
{{ $height := 200 }}
<p>
  <svg
    id="{{ $svgName }}"
    width="100%"
    height="100%"
    viewBox="0 0 {{ $width }} {{ $height }}"
    >
    <!-- points -->
  </svg>
  <p
    id="{{ $captionName }}"
    style="text-align: center;">
    NNN points, left to right: naive approach, correct formula, Monte Carlo (XXX attempts)
  </p>
</p>
<script type="module">

const svgns = 'http://www.w3.org/2000/svg';
const numPoints = 250;

function renderSVG_RandomPointsInCircle() {
  let svg = document.getElementById('{{ $svgName }}');

  // clear existing points
  while (svg.firstChild) {
    svg.removeChild(svg.firstChild);
  }

  const points = generatePointsSimple(100, 100, 100, numPoints);
  for (let p of points) {
    let circle = document.createElementNS(svgns, 'circle');
    circle.setAttribute('cx', p[0]);
    circle.setAttribute('cy', p[1]);
    circle.setAttribute('r', 2);
    circle.setAttribute('style', 'fill: var(--primary)');
    svg.appendChild(circle);
  }

  const points2 = generatePointsCorrectFormula(310, 100, 100, numPoints);
  for (let p of points2) {
    let circle = document.createElementNS(svgns, 'circle');
    circle.setAttribute('cx', p[0]);
    circle.setAttribute('cy', p[1]);
    circle.setAttribute('r', 2);
    circle.setAttribute('style', 'fill: var(--primary)');
    svg.appendChild(circle);
  }

  const [attempts, points3] = generatePointsMonteCarlo(520, 100, 100, numPoints);
  for (let p of points3) {
    let circle = document.createElementNS(svgns, 'circle');
    circle.setAttribute('cx', p[0]);
    circle.setAttribute('cy', p[1]);
    circle.setAttribute('r', 2);
    circle.setAttribute('style', 'fill: var(--primary)');
    svg.appendChild(circle);
  }

  let caption = document.getElementById('{{ $captionName }}');
  let text = `${numPoints} points, left to right: naive approach, correct formula, Monte Carlo (${attempts} attempts)`;
  caption.innerText = text;
}

function generatePointsSimple(centerX, centerY, radius, amount) {
  let result = [];
  for (let i = 0; i < amount; i++) {
    let angle = 2 * Math.PI * Math.random();
    let dist = radius * Math.random();

    let x = centerX + dist * Math.cos(angle);
    let y = centerY + dist * Math.sin(angle);
    result.push([x, y]);
  }
  return result;
}

function generatePointsCorrectFormula(centerX, centerY, radius, amount) {
  let result = [];
  for (let i = 0; i < amount; i++) {
    let angle = 2 * Math.PI * Math.random();
    let dist = radius * Math.sqrt(Math.random());

    let x = centerX + dist * Math.cos(angle);
    let y = centerY + dist * Math.sin(angle);
    result.push([x, y]);
  }
  return result;
}

function generatePointsMonteCarlo(centerX, centerY, radius, amount) {
  const radiusSq = radius * radius;

  let attempts = 0;
  let result = [];
  while (result.length < amount) {
    attempts++;
    let x = radius * 2 * (Math.random() - 0.5);
    let y = radius * 2 * (Math.random() - 0.5);

    let distToCenterSq = x * x + y * y;
    if (distToCenterSq < radiusSq) {
      result.push([
        centerX + x,
        centerY + y,
      ]);
    }
  }
  return [attempts, result];
}

document.getElementById('{{ $svgName }}').addEventListener('click', renderSVG_RandomPointsInCircle);

renderSVG_RandomPointsInCircle()

</script>
