<p class="random_points_poisson_disk_distribution"/>
<script type="module">

const svgns = 'http://www.w3.org/2000/svg'

const width = 500;
const height = 300;

const container = document.querySelector('.random_points_poisson_disk_distribution');
const svg = document.createElementNS(svgns, 'svg');

svg.setAttribute('width', '100%');
svg.setAttribute('height', height);
svg.setAttribute('viewBox', `0 0 ${width} ${height}`);

const radius = 10;
const points = generatePointsByPoissonDiskDistribution(width, height, radius);

for (var p of points) {
  var circle = document.createElementNS(svgns, 'circle');
  circle.setAttribute('cx', p[0]);
  circle.setAttribute('cy', p[1]);
  circle.setAttribute('r', 2);
  circle.setAttribute('style', 'fill: var(--primary)');
  svg.appendChild(circle);
}

container.appendChild(svg);


// Based on https://www.jasondavies.com/poisson-disc/
function generatePointsByPoissonDiskDistribution(width, height, radius) {
  const k = 30;  // maximum number of samples before rejection

  const cellSize = radius * Math.SQRT1_2;
  const gridWidth = Math.ceil(width / cellSize);
  const gridHeight = Math.ceil(height / cellSize);

  const radiusSq = radius * radius;
  const R = 3 * radiusSq;  // what is it ?

  var grid = new Array(gridWidth * gridHeight);
  var queue = [];
  var queueSize = 0;
  var sampleSize = 0;

  var result = []

  // generate the first point
  result.push(addPoint(Math.random() * width, Math.random() * height));

  // Pick a random existing sample and remove it from the queue.
  while (queueSize) {
    var i = Math.random() * queueSize | 0,
        s = queue[i];

    // Make a new candidate between [radius, 2 * radius] from the existing sample.
    for (var j = 0; j < k; ++j) {
      var a = 2 * Math.PI * Math.random(),
          r = Math.sqrt(Math.random() * R + radiusSq),
          x = s[0] + r * Math.cos(a),
          y = s[1] + r * Math.sin(a);

      // Reject candidates that are outside the allowed extent,
      // or closer than 2 * radius to any existing sample.
      if (0 <= x && x < width && 0 <= y && y < height && isFarFromOthers(x, y))
        result.push(addPoint(x, y));
    }

    queue[i] = queue[--queueSize];
    queue.length = queueSize;
  }

  return result;

  function isFarFromOthers(x, y) {
    var i = x / cellSize | 0,
        j = y / cellSize | 0,
        i0 = Math.max(i - 2, 0),
        j0 = Math.max(j - 2, 0),
        i1 = Math.min(i + 3, gridWidth),
        j1 = Math.min(j + 3, gridHeight);

    for (j = j0; j < j1; ++j) {
      var o = j * gridWidth;
      for (i = i0; i < i1; ++i) {
        if (s = grid[o + i]) {
          var s,
              dx = s[0] - x,
              dy = s[1] - y;
          if (dx * dx + dy * dy < radiusSq) return false;
        }
      }
    }

    return true;
  }

  function addPoint(x, y) {
    var s = [x, y];
    queue.push(s);
    grid[gridWidth * (y / cellSize | 0) + (x / cellSize | 0)] = s;
    ++sampleSize;
    ++queueSize;
    return s;
  }
}


</script>
