name: Build

on:
  pull_request:
  workflow_call:
    inputs:
      artifact-name:
        description: Name of the artifact where the built website should be uploaded
        required: false
        type: string
        default: ''
      bypass-htmltest:
        description: Bypass htmltest check
        required: false
        type: boolean
        default: false
    outputs:
      artifact-name:
        description: Name of the artifact where the built website is uploaded
        value: ${{ inputs.artifact-name }}
      commit:
        description: Short SHA of the commit of the sources
        value: ${{ jobs.build.outputs.commit }}


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-commit-signing:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # - name: Generate token
      #   uses: actions/create-github-app-token@v2
      #   id: app-token
      #   with:
      #     app-id: ${{ vars.DEPLOYER_APP_ID }}
      #     private-key: ${{ secrets.DEPLOYER_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          #token: ${{ steps.app-token.outputs.token }}
          ref: test/commit_testing
      - name: Configure git user
        env:
          #EMAIL_ID: "${{ vars.DEPLOYER_APP_ID }}+${{ vars.DEPLOYER_APP_SLUG }}[bot]"
          EMAIL_ID: github-actions@github.com
        run: |
          # git config --global user.name "${{ vars.DEPLOYER_APP_SLUG }}[bot]"
          git config --global user.name "github-actions[bot]"
          # git config --global user.email "${{ env.EMAIL_ID }}@users.noreply.github.com"
          git config --global user.email "github-actions@github.com"
      - name: make commit
        env:
          GH_TOKEN: ${{ github.token }} #${{ steps.app-token.outputs.token }}
        #   GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh auth setup-git
          gh auth status

          echo "abc" >> test.txt
          git add test.txt
          git commit -m "test: from test PR"
      - name: Push
        # env:
        #   GIT_AUTHOR_NAME: "${{ vars.DEPLOYER_APP_SLUG }}[bot]"
        #   GIT_AUTHOR_EMAIL: "${{ vars.DEPLOYER_APP_ID }}+${{ vars.DEPLOYER_APP_SLUG }}[bot]@users.noreply.github.com"
        #   GIT_COMMITTER_NAME: "${{ vars.DEPLOYER_APP_SLUG }}[bot]"
        #   GIT_COMMITTER_EMAIL: "${{ vars.DEPLOYER_APP_ID }}+${{ vars.DEPLOYER_APP_SLUG }}[bot]@users.noreply.github.com"
        run: |
          git push

  # build:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     commit: ${{ steps.commit.outputs.short_sha }}
  #   steps:
  #     - uses: actions/checkout@v6
  #       with:
  #         submodules: recursive
  #     - name: Read hugo version
  #       id: settings
  #       run: |
  #         HUGO_VERSION=$(cat hugo_version.txt)
  #         echo "hugo-version=$HUGO_VERSION" >> "$GITHUB_OUTPUT"
  #     - name: Setup Hugo
  #       uses: peaceiris/actions-hugo@v3
  #       with:
  #         hugo-version: ${{ steps.settings.outputs.hugo-version }}
  #     - name: Build
  #       run: hugo
  #     - name: Output commit info
  #       id: commit
  #       run: |
  #         echo "short_sha=$(git rev-list --max-count=1 --oneline HEAD)" >> "$GITHUB_OUTPUT"
  #     - name: Upload artifact
  #       if: inputs.artifact-name != ''
  #       uses: actions/upload-artifact@v6
  #       with:
  #         name: ${{ inputs.artifact-name }}
  #         path: docs
  #         retention-days: 1
  #     - name: Install htmltest
  #       if: inputs.bypass-htmltest != true
  #       run: |
  #         curl https://htmltest.wjdp.uk | bash
  #         echo "$PWD/bin" >> "$GITHUB_PATH"
  #     - name: Validate with htmltest
  #       if: inputs.bypass-htmltest != true
  #       run: |
  #         htmltest
