name: Build

on:
  pull_request:
  workflow_call:
    inputs:
      artifact-name:
        description: Name of the artifact where the built website should be uploaded
        required: false
        type: string
        default: ''
    outputs:
      artifact-name:
        description: Name of the artifact where the built website is uploaded
        value: ${{ inputs.artifact-name }}
      commit:
        description: Short SHA of the commit of the sources
        value: ${{ jobs.build.outputs.commit }}


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.commit.outputs.short_sha }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Read hugo version
        id: settings
        run: |
          HUGO_VERSION=$(cat hugo_version.txt)
          echo "hugo-version=$HUGO_VERSION" >> "$GITHUB_OUTPUT"
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ steps.settings.outputs.hugo-version }}
      - name: Build
        run: hugo
      - name: Output commit info
        id: commit
        run: |
          echo "short_sha=$(git rev-list --max-count=1 --oneline HEAD)" >> "$GITHUB_OUTPUT"
      - name: Upload artifact
        if: inputs.artifact-name != ''
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
          path: docs
          retention-days: 1
      - name: Install htmltest
        run: |
          curl https://htmltest.wjdp.uk | bash
          echo "$PWD/bin" >> "$GITHUB_PATH"
      - name: Validate with htmltest
        run: |
          htmltest
