name: Push to Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "7 10 1 * *"  # at 10:07 on the first day of every month (i.e. monthly)
  workflow_dispatch:

concurrency: ${{ github.workflow }}

jobs:
  build-html:
    uses: ./.github/workflows/build-html.yaml
    with:
      artifact-name: docs

  verify-html:
    needs: build-html
    uses: ./.github/workflows/verify-html.yaml
    with:
      artifact-name: ${{ needs.build-html.outputs.artifact-name }}

  push-to-deploy:
    needs: build-html
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.DEPLOYER_APP_ID }}
          private-key: ${{ secrets.DEPLOYER_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: deploy
      - name: Configure github-actions git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Clean current deployment
        run: git rm -rf docs
      - name: Download artifact
        uses: actions/download-artifact@v8
        with:
          name: ${{ needs.build-html.outputs.artifact-name }}
          path: docs
      - name: Re-add and commit the main folder
        id: commit
        continue-on-error: true  # may fail if there's nothing to commit
        run: |
          git add docs
          git commit -m "update ${{ needs.build-html.outputs.commit }}"
      - name: Push to deploy branch
        if: steps.commit.outcome == 'success'
        run: |
          git push origin
